body{
    background-color: grey;
}
button{
    background-color: teal;
    color: white;
    font-weight: bold;
    margin: 2px;
}
#rating{
    width: 10px;
}
label{
    font-weight: bold;
}
#nav-bar{
    margin-bottom: 10px;
}

.celeb-gif{
    width: 200px;
    height: 200px;
    margin: 0px;
    padding-top: 2px;
    object-fit: scale-down;
}

