body{
    background-color: grey;
}
button{
    background-color: teal;
    color: white;
    font-weight: bold;
    margin: 2px;
}

label{
    font-weight: bold;
}
#nav-bar{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.celeb-gif{
    width: 200px;
    height: 200px;
}

.gif-container{
    float: left;
    margin: 10px;
    font-weight: bold;
    font-size: 16pt;
}